.component {
  // background: #eeeef0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #2d2d2d;
  margin: 20px auto;
  width: 600px;
  height: 500px;
  border-radius: 30px;
  padding: 20px;
  color: honeydew;
  .blockButton {
    display: flex;
    justify-content: space-evenly;
    button {
      padding: 30px;
      &:hover {
        color: red;
        // -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 255);
        box-shadow: 0 0 10px rgba(255, 255, 255, 255);
      }
    }
  }
}
